<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.budgetgame"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_budget"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.budgetgame.MainActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black">
        </activity>
        <activity 
            android:name="com.example.budgetgame.LogInActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />               
            </intent-filter>            
        </activity>
        
         <receiver
            android:name="com.example.budgetgame.SavingsAlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
         <meta-data android:value="@string/app_id" android:name="com.facebook.sdk.ApplicationId"/>
         <activity android:name="com.facebook.LoginActivity"></activity>
    </application>

</manifest>
